@import "@/styles/variables.scss";

.top-bar-contacts {
    display: flex;
    align-items: center;
    padding-left: 24px;

    &__link {
        display: flex;
        align-items: center;
        margin-right: 16px;
        font-size: 14px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        color: $white;
        text-decoration: none;
        transition: color 0.3s ease;

        svg {
            margin-right: 8px;
        }

        @media (min-width: $mobile-breakpoint) {
            &:hover {
                color: $gray-darker;
            }
        }

        @media (max-width: 920px) {
            font-size: 12px;
            line-height: 20px;
        }
    }
}
