@import "@/styles/_variables.scss";

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;

  &__item-link {
    font-size: 14px;
    font-weight: $f-weight-semi-bold;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $black-primary;
    transition: color 0.3s ease;

    &:hover {
      color: $orange-primary;
    }
  }
}

.sub-menu {
  &__item {
    &:hover &-link {
      color: $orange-primary;
    }
  }

  &__item-link {
    font-size: 16px;
    font-weight: $f-weight-regular;
    line-height: 24px;
    text-decoration: none;
    color: $black-primary;
    transition: color 0.3s ease;
  }
}
