@import "@/styles/variables.scss";

.upcoming {
    position: relative;
    margin-bottom: 60px;

    @media (max-width: $mobile-breakpoint) {
        margin-bottom: 30px;
    }

    &__title {
        @media (max-width: 640px) {
            font-size: 24px;
            line-height: 36px;
        }

        @media (max-width: 420px) {
            padding-left: 16px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .upcoming-slider {
        position: relative;

        @media (max-width: 1260px) {
            position: static;
        }
    }
}
