@import "@/styles/variables.scss";

.top-bar {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;
    background: $gray-light;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -24px;
        width: 24px;
        height: 100%;
        background: $gray-light;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
    }

    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}
