@import "@/styles/variables.scss";

.follow-us {
    &__title {
        margin-bottom: 28px;
        font-size: 24px;
        font-weight: $f-weight-semi-bold;
        line-height: 36px;
        color: $white;
    }

    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__list-item {
        margin-right: 16px;

        svg {
            fill: $white;
            transition: fill 0.3s ease;
        }

        @media (min-width: $mobile-breakpoint) {
            &:hover svg {
                fill: $gray-darker;
            }
        }
    }
}
