@import "@/styles/variables.scss";

.social-link {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-left: 16px;

        svg {
            fill: $white;
        }
    }

    @media (max-width: 920px) {
        display: none;
    }
}
