@import "@/styles/variables.scss";

.header {
    position: sticky;
    top: 0;
    min-height: 96px;
    background: $white;

    .header-content {
        display: flex;
        align-items: flex-start;

        &__left {
            width: 100%;
            max-width: 290px;
        }

        &__right {
            width: 100%;
            padding-left: 24px;
        }
    }

    @media (min-width: $mobile-breakpoint) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 40px;
            background: $gray-light;
        }
    }
}
