@import "@/styles/_variables.scss";

.header {
  position: sticky;
  width: 100%;
  min-height: 120px;
  z-index: 99;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 40px;
    background: $gray-lightest;
    z-index: -1;
  }

  .header-wrap {
    display: flex;
    align-items: flex-start;
  }

  .header-content-right {
    width: 100%;
    max-width: 290px;
  }

  .header-content-left {
    width: 100%;
  }
}
