@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.lang-switcher {
  width: 136px;
  min-height: 40px;
  padding: 0 24px;
  margin-left: auto;
  font-size: 14px;
  font-weight: $f-weight-regular;
  line-height: 24px;
  background: $white;
}
