@import "@/styles/_variables.scss";

.top-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding-left: 24px;
  background: $gray-lightest;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -24px;
    width: 24px;
    height: 100%;
    background: $gray-lightest;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%);
  }
}
