@import "@/styles/variables.scss";

.banner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 525px;
    background: $gray-light url('../../assets/images/hero-banner.jpeg') no-repeat top center / cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($white, 0.6);
        z-index: 0;
    }

    &__title {
        max-width: 470px;
        margin-bottom: 24px;
        font-size: 34px;
        font-weight: $f-weight-bold;
        line-height: 56px;
        color: $black-primary;

        span {
            color: $orange-primary;
        }

        @media (max-width: 476px) {
            font-size: 24px;
            line-height: 36px;
        }

        @media (max-width: 375px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__description {
        max-width: 525px;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: $f-weight-regular;
        line-height: 24px;

        @media (max-width: 375px) {
            font-size: 14px;
        }
    }

    &__contact-us-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 180px;
        min-height: 40px;
        font-size: 16px;
        font-weight: $f-weight-regular;
        line-height: 24px;
        text-decoration: none;
        background: $orange-primary;
        box-shadow: 0 2px 5px rgba($orange-primary, 0.6);
        color: $white;
        transition: box-shadow 0.3s ease;

        svg {
            margin-right: 8px;
            font-size: 18px;
        }

        @media (min-width: $mobile-breakpoint) {
            &:hover {
                box-shadow: none;
            }
        }
    }

    &__image {
        position: relative;
        height: 100%;
        min-height: 525px;

        img {
            object-fit: cover;
            object-position: 50% 15%;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($white, 0.6);
            z-index: 1;
        }
    }
}
